@font-face {
  font-family: "iconfont"; /* Project id 2709547 */
  src: url('iconfont.woff2?t=1627562302638') format('woff2'),
       url('iconfont.woff?t=1627562302638') format('woff'),
       url('iconfont.ttf?t=1627562302638') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-image-fill:before {
  content: "\e860";
}

.icon-video-fill:before {
  content: "\e865";
}

.icon-customerservice-fill:before {
  content: "\e869";
}

.icon-gallery-view:before {
  content: "\e76b";
}

.icon-picture-fill:before {
  content: "\e7cf";
}

